../**
node_modules/**
packages/**
src/**
out/*.map
tsconfig.json
tsconfig.base.json
.eslintrc*
.prettier*
.gitignore
.husky/**
.lintstagedrc
.vscode/**
coverage/**
eslint.config.mjs
.git/**
*.ts
*.tsx
*.map
